<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<parameter name="browser" value="chrome"></parameter>>
  <test thread-count="2" name="Test" parallel="methods">
  <groups>
  <run>>
  <include name="regressiontest"></include>
  </run>
  </groups>
    <classes>
      <class name="TestCases.Amazon0145">
      <methods>
      <include name="tc05"></include>
      <include name="tc01"></include>
      <include name="tc02"></include> 
      <include name="tc06"></include> 
      </methods>
      </class>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
